.home-container[b-rc1mr1oxk1] {
    background-image: url('/images/HomeSky.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vh;
    height: 100vh;
    position: cover;
    top: 25%;
    left: 0;
    z-index: -1;
}

.home-container[b-rc1mr1oxk1] {
    padding-top: cover;
}

.home-container[b-rc1mr1oxk1] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home-container[b-rc1mr1oxk1] {
    position: relative;
    height: 30vh;
    width: 100%;
}

.social-box .box[b-rc1mr1oxk1] {
    background: rgb(126, 126, 230);
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 40px 20px;
    transition: all 0.3s ease-out;
    height: 100%;
}

.social-box .box:hover[b-rc1mr1oxk1] {
    box-shadow: 0 4px 8px rgba(65,131,215,0.3);
    transform: translateY(-5px);
}

.social-box .box-title h3[b-rc1mr1oxk1] {
    margin-top: 20px;
    font-size: 24px;
}

.social-box .box-text[b-rc1mr1oxk1] {
    font-size: 15px;
    line-height: 1.6;
    margin: 20px 0;
}

.social-box .box-btn a[b-rc1mr1oxk1] {
    color: #7400f083;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.social-box .box-btn a:hover[b-rc1mr1oxk1] {
    text-decoration: wavy underline;
}

.social-box .fab[b-rc1mr1oxk1] {
    color: #4183D7;
}

@media (max-width: 992px) {
    .social-box .box[b-rc1mr1oxk1] {
        margin-bottom: 20px;
    }
}

.text-content[b-rc1mr1oxk1] {
    text-align: center;
    padding: 50px;
    background-color: rgba(10, 86, 127, 0.337); /* Fondo semi-transparente para mejor legibilidad */
    color: white; /* Texto blanco para contraste */
    border-radius: 25px; /* Esquinas redondeadas */
    min-height: 10px;
    min-width: 10px;
}

.text-content[b-rc1mr1oxk1] {
    position: absolute;
    top: 35%; /* Este valor para mover más arriba o abajo */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%; /* Ajusta según sea necesario */
    background-color: rgba(10, 86, 127, 0.337);
    color: white;
    border-radius: 25px;
    padding: 20px; /* Reducir el padding para que ocupe menos espacio */
}
.text-footer[b-rc1mr1oxk1]{
    text-align: center;
    color: white;
    background-color: #6c0eff;
}

