@page "/aboutme"

<b>
<h2>Métodos de contacto</h2>
</b>

<img src="/images/Mifoto.jpeg" width="200" height="200">
    <p>Mi nombre es Brander Báez, a continuación encontrará dos métodos para poder comunicarse conmigo:</p>
    
    <div class="text-center">
    <a href="https://wa.me/18296906320?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno%2C%20te%20estaremos%20pagando%20mucho%20dinero." target="_blank" class="btn btn-outline-success">
    <i class="fab fa-whatsapp"></i> Contactar por WhatsApp</a>
    <a href="https://t.me/brand0z" target="_blank" class="btn btn-outline-info"><i class="fab fa-telegram"></i>
    Contactar por Telegram</a>
    </div>
