@page "/"
@layout OmorLayout

<div class="home-container">
<PageTitle>Menu</PageTitle>
    <div class="text-content">
    <b>
        <h4>Bienvenido.</h4>
        <h4>Acá encontrará todos los ejercicios propuestos.</h4>
    </b>
    </div>
</div>
<div class="social-box">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 1</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba como parámetro un entero y retorne su último dígito.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/01">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 3</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba como parámetro un entero y retorne la cantidad de dígitos primos.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/03">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 5</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba un entero y le calcule su factorial sabiendo que el factorial de un número es el resultado de multiplicar sucesivamente todos los enteros comprendidos entre 1 y el número dado. El factorial de 0 es 1. No están definidos los factoriales de números negativos.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/05">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 7</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba como parámetro un carácter y retorne el código ASCII asociado a él.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/07">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 9</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba un entero y le calcule su factorial sabiendo que el factorial de un número es el resultado de multiplicar sucesivamente todos los enteros comprendidos entre 1 y el número dado. El factorial de 0 es 1. No están definidos los factoriales de números negativos.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/09">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 11</h3>
                </div>
                <div class="box-text">
                    <span>Retornar 1 si el número entero introducido es múltiplo de dicho número y 0 si no es así.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/011">Realizar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-grid">
  <button type="button" class="btn btn-primary btn-block"><NavLink class="btn btn-primary" href="aboutme" target="blank">Acerca de mi
  </NavLink>
  </button>
</div>
<div class="text-footer">
        <footer class="border-top footer text-muted">
            <div>
            <b>
            &copy; 2024 - Brander Báez
            </b>
            </div>
        </footer>
</div>

