@page "/"
@layout OmorLayout

<div class="home-container">
<PageTitle>Menu</PageTitle>
    <div class="text-content">
    <b>
        <h4>Bienvenido.</h4>
        <h4>Acá encontrará todos los ejercicios propuestos.</h4>
    </b>
    </div>
</div>
<div class="social-box">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 1</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba como parámetro un entero y retorne su último dígito.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/01">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 3</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba como parámetro un entero y retorne la cantidad de dígitos primos.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/03">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 5</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba un entero y le calcule su factorial sabiendo que el factorial de un número es el resultado de multiplicar sucesivamente todos los enteros comprendidos entre 1 y el número dado. El factorial de 0 es 1. No están definidos los factoriales de números negativos.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/05">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 7</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba como parámetro un carácter y retorne el código ASCII asociado a él.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/07">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 9</h3>
                </div>
                <div class="box-text">
                    <span>Construir una función que reciba un entero y le calcule su factorial sabiendo que el factorial de un número es el resultado de multiplicar sucesivamente todos los enteros comprendidos entre 1 y el número dado. El factorial de 0 es 1. No están definidos los factoriales de números negativos.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/09">Realizar</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
                <i class="fa fa-book" style="font-size:48px"></i>
                <div class="box-title">
                    <h3>Ejercicio 11</h3>
                </div>
                <div class="box-text">
                    <span>Retornar 1 si el número entero introducido es múltiplo de dicho número y 0 si no es así.</span>
                </div>
                <div class="box-btn">
                    <a href="ej/011">Realizar</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 13</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un entero y un dígito y retorne la cantidad de veces que se encuentra dicho dígito en dicho entero.</span>
        </div>
        <div class="box-btn">
            <a href="ej/013">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 15</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetros dos números enteros y retorne 1 si el primer número es múltiplo del segundo y 0 si no.</span>
        </div>
        <div class="box-btn">
            <a href="ej/015">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 17</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un entero y retorne 1 si corresponde al código ASCII de un dígito (Los códigos ASCII de las letras minúsculas van desde 48 que es el código del dígito 0 hasta 57 que es el código del dígito 9). Deberá retornar 0 si no es así.</span>
        </div>
        <div class="box-btn">
            <a href="ej/017">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 19</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un entero y retorne 1 si dicho valor es un número de mínimo 3 dígitos. Deberá retornar 0 si no es así.</span>
        </div>
        <div class="box-btn">
            <a href="ej/019">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 21</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un entero y retorne 1 si en dicho valor el primer dígito es igual al último. Deberá retornar 0 si no es así.</span>
        </div>
        <div class="box-btn">
            <a href="ej/021">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 23</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro dos enteros y retorne 1 si la diferencia entre los dos valores es un número primo. Deberá retornar 0 si no es así.</span>
        </div>
        <div class="box-btn">
            <a href="ej/023">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 25</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un entero y un dígito menor o igual a 5 y retorne el dígito del número que se encuentre en la posición especificada por el dígito que llegó como parámetro.</span>
        </div>
        <div class="box-btn">
            <a href="ej/025">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 27</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la posición en la cual se encuentra el mayor de los datos del vector.</span>
        </div>
        <div class="box-btn">
            <a href="ej/027">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 29</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la cantidad de números que pertenecen a los 30 primeros elementos de la serie de Fibonacci.</span>
        </div>
        <div class="box-btn">
            <a href="ej/029">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 31</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne el promedio entero del vector.</span>
        </div>
        <div class="box-btn">
            <a href="ej/031">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 33</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetros un vector de 10 posiciones enteras y un valor entero y retorne 1 si dicho valor entero se encuentra en el vector. Deberá retornar 0 si no es así.</span>
        </div>
        <div class="box-btn">
            <a href="ej/033">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 35</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la posición en la que se encuentre el mayor número primo que termine en 3 almacenado en el vector.</span>
        </div>
        <div class="box-btn">
            <a href="ej/035">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 37</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetros dos enteros, el primero actuará como base y el segundo como exponente y retorne el resultado de elevar dicha base a dicho exponente.</span>
        </div>
        <div class="box-btn">
            <a href="ej/037">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 39</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetros un vector de 10 posiciones enteras y un dígito y que retorne la cantidad de veces que dicho dígito se encuentra en el vector. No se olvide que un mismo dígito puede estar varias veces en un solo número.</span>
        </div>
        <div class="box-btn">
            <a href="ej/039">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 41</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y un dígito y que retorne la cantidad de números del vector en donde dicho dígito está de penúltimo.</span>
        </div>
        <div class="box-btn">
            <a href="ej/041">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 43</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro una matriz 3x4 entera y retorne la cantidad de números primos almacenados en la matriz.</span>
        </div>
        <div class="box-btn">
            <a href="ej/043">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 45</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetros una matriz 4x4 entera y un valor entero y retorne la cantidad de veces que se repite dicho valor en la matriz.</span>
        </div>
        <div class="box-btn">
            <a href="ej/045">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 47</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba como parámetro una matriz 4x4 entera y retorne el número de la columna en donde se encuentre por primera vez el número mayor de la matriz.</span>
        </div>
        <div class="box-btn">
            <a href="ej/047">Realizar</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="box">
        <i class="fa fa-book" style="font-size:48px"></i>
        <div class="box-title">
            <h3>Ejercicio 49</h3>
        </div>
        <div class="box-text">
            <span>Construir una función que reciba una matriz 5x5 y retorne el valor de su moda. La moda de un conjunto de datos es el dato que más se repite.</span>
        </div>
        <div class="box-btn">
            <a href="ej/049">Realizar</a>
        </div>
    </div>
</div>
    </div>
</div>
<div class="d-grid">
  <button type="button" class="btn btn-primary btn-block"><NavLink class="btn btn-primary" href="aboutme" target="blank">Acerca de mi
  </NavLink>
  </button>
</div>
<div class="text-footer">
        <footer class="border-top footer text-muted">
            <div>
            <b>
            &copy; 2024 - Brander Báez
            </b>
            </div>
        </footer>
</div>

