#divmain[b-fhg2jinoqu]{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 500px;
}

#divmain[b-fhg2jinoqu] {
    text-align: center;
}

.footer[b-fhg2jinoqu] {
    text-align: center;
}

.Goback[b-fhg2jinoqu]{
    color: blueviolet;
    text-decoration: wavy;
}